<div class="container">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
  >
    <div class="col-md-4 d-flex align-items-center">
      <a
        href="/"
        class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1"
        aria-label="Bootstrap"
      >
        <svg class="bi" width="30" height="24" aria-hidden="true">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">© 2026 Neetzmadeit, Inc</span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-body-secondary" href="https://www.tiktok.com/@neetzmadeit" aria-label="TikTok"
          ><i class="fa-brands fa-tiktok"></i></a>
      </li>
      <li class="ms-3">
        <a class="text-body-secondary" href="https://www.instagram.com/https.nita7/" aria-label="Instagram"
          ><i class="fa-brands fa-instagram"></i></a>
      </li>
      <li class="ms-3">
        <a class="text-body-secondary" href="https://www.youtube.com/@neetzmadeit" aria-label="YouTube"
          ><i class="fa-brands fa-youtube"></i></a>
      </li>
    </ul>
  </footer>
</div>
